body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

nav {
    background-color: #292b2c;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    margin: 0 20px;
    font-size: x-large;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f4a300;
}

header {
    text-align: center;
    padding: 3rem;
    background-color: #303233;
    color: white;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: 700;
}

header p {
    font-size: 1.2rem;
    color: #f4f4f4;
    margin-bottom: 0;
}

section {
    padding: 4rem 2rem;
    max-width: 1100px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2.5rem;
    color: #303233;
    margin-bottom: 1rem;
}

section p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #303233;
}

.partner-logos {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.partner-logos img {
    width: 120px;
    transition: transform 0.3s ease;
}

.partner-logos img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #303233;
    color: white;
    text-align: center;
    padding: 2rem 0;
    margin-top: 3rem;
}

footer p {
    margin: 0.5rem 0;
}

.partner-logos img {
        margin-bottom: 1rem;
    }